{% include concat(template.path, '/link.html') %}

<div style="background-color:#F3F7FD;">
	{% include concat(template.path, '/header.html') %}

	{% include concat(template.path, '/slider.html') %}

	{% include concat(template.path, '/circlelinks.html') %}
</div>

{% include concat(template.path, '/recentnews.html') %}

{% include concat(template.path, '/containerlinks.html') %}

{% include concat(template.path, '/blocklinks.html') %}

{% include concat(template.path, '/info.html') %}

{% include concat(template.path, '/footer.html') %}


