<?xml version="1.0" encoding="UTF-8"?>
<root>
	<info>
		<name/>
		<description/>
		<version/>
		<author/>
		<url/>
		<contacts/>
	</info>
	<template>
		<title>Главная страница</title>
		<file>index.html</file>
	</template>
	<template>
		<title>Статичная страница</title>
		<file>static.html</file>
	</template>
	<template>
		<title>Страница блога</title>
		<file>blog.html</file>
	</template>
	<template>
		<title>Обратная связь</title>
		<file>feedback.html</file>
	</template>
	<template>
		<title>Страница новостей</title>
		<file>news.html</file>
	</template>
	<template>
		<title>Страница Вакансии</title>
		<file>vacancy.html</file>
	</template>
	<template>
		<title>Страница поиска</title>
		<file>search.html</file>
	</template>
	<template>
		<title>Фотогалерея</title>
		<file>photogallery.html</file>
	</template>
	<template>
		<title>Видеогалерея</title>
		<file>videogallery.html</file>
	</template>
	<template>
		<title>Каталог файлов</title>
		<file>load.html</file>
	</template>
	<template>
		<title>Каталог файлов + статичная страница</title>
		<file>loadstatic.html</file>
	</template>
	<codeblock>
		<title>Подключаемые скрипты</title>
		<file>link.html</file>
	</codeblock>
	<codeblock>
		<title>header</title>
		<file>header.html</file>
	</codeblock>
	<codeblock>
		<title>Слайдер на главной странице</title>
		<file>slider.html</file>
	</codeblock>
	<codeblock>
		<title>Круглые ссылки</title>
		<file>circlelinks.html</file>
	</codeblock>
	<codeblock>
		<title>Недавние новости на главной странице</title>
		<file>recentnews.html</file>
	</codeblock>
	<codeblock>
		<title>Прямоугольные ссылки на главной странице</title>
		<file>containerlinks.html</file>
	</codeblock>
	<codeblock>
		<title>Блоки на главной странице</title>
		<file>blocklinks.html</file>
	</codeblock>
	<codeblock>
		<title>Численная информация на главной странице</title>
		<file>info.html</file>
	</codeblock>
	<codeblock>
		<title>footer</title>
		<file>footer.html</file>
	</codeblock>
	<widget>
		<type>menu</type>
		<name>mainmenu</name>
		<label>Главное меню. Сверху. Одноуровневое</label>
		<uq>1</uq>
	</widget>
	<widget>
		<type>menu</type>
		<name>submenu</name>
		<label>Второе меню. Сверху. Одноуровневое</label>
		<uq>1</uq>
	</widget>
	<widget>
		<type>dynamiclist</type>
		<name>mainslider</name>
		<label>Слайдер</label>
		<fields>
			<datatype>image</datatype>
			<name>img</name>
			<label>Фотография слайдера</label>
			<maxSize>15360000</maxSize>
			<stretch>1</stretch>
			<extensions>png</extensions>
			<extensions>jpeg</extensions>
			<extensions>jpg</extensions>
			<extensions>gif</extensions>
			<extensions>svg</extensions>
		</fields>
		<fields>
			<datatype>text</datatype>
			<name>description</name>
			<label>Описание</label>
		</fields>
		<uq>1</uq>
	</widget>
	<widget>
		<type>image</type>
		<name>logo</name>
		<label>Логотип сайта</label>
		<maxSize>102400</maxSize>
		<extensions>png</extensions>
		<extensions>jpeg</extensions>
		<extensions>jpg</extensions>
		<extensions>gif</extensions>
		<extensions>svg</extensions>
		<stretch>1</stretch>
		<uq>1</uq>
	</widget>
	<widget>
		<type>image</type>
		<name>logo2</name>
		<label>Логотип сайта</label>
		<maxSize>102400</maxSize>
		<extensions>png</extensions>
		<extensions>jpeg</extensions>
		<extensions>jpg</extensions>
		<extensions>gif</extensions>
		<extensions>svg</extensions>
		<stretch>1</stretch>
		<uq>1</uq>
	</widget>
	<widget>
		<type>image</type>
		<name>director</name>
		<label>Директор школы</label>
		<maxSize>102400</maxSize>
		<extensions>png</extensions>
		<extensions>jpeg</extensions>
		<extensions>jpg</extensions>
		<extensions>gif</extensions>
		<extensions>svg</extensions>
		<stretch>1</stretch>
		<uq>1</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>director_text</name>
		<uq>1</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>schoolname</name>
		<uq>1</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>schooladdress</name>
		<uq>1</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>schoolphone</name>
		<uq>1</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>schoolemail</name>
		<uq>1</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>containerlink1</name>
		<uq>1</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>containerlink2</name>
		<uq>1</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>containerlink3</name>
		<uq>1</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>containerlink4</name>
		<uq>1</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>containerlink5</name>
		<uq>1</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>static_header</name>
		<uq>0</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>static_content</name>
		<uq>0</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>numbers1</name>
		<uq>1</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>numbers2</name>
		<uq>1</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>numbers3</name>
		<uq>1</uq>
	</widget>
	<widget>
		<type>label</type>
		<name>numbers4</name>
		<uq>1</uq>
	</widget>
	<widget>
		<type>dynamiclist</type>
		<name>fileslist</name>
		<label>Каталог файлов</label>
		<search>1</search>
		<fields>
			<datatype>text</datatype>
			<name>name</name>
			<label>Название файла</label>
			<search>1</search>
		</fields>
		<fields>
			<datatype>file</datatype>
			<name>document</name>
			<label>Файл</label>
			<maxSize>10485760</maxSize>
			<extensions>png</extensions>
			<extensions>jpeg</extensions>
			<extensions>jpg</extensions>
			<extensions>gif</extensions>
			<extensions>bmp</extensions>
			<extensions>svg</extensions>
			<extensions>doc</extensions>
			<extensions>docx</extensions>
			<extensions>xls</extensions>
			<extensions>xlsx</extensions>
			<extensions>ppt</extensions>
			<extensions>pptx</extensions>
			<extensions>pdf</extensions>
			<extensions>rtf</extensions>
			<extensions>odt</extensions>
			<extensions>txt</extensions>
			<extensions>rar</extensions>
			<extensions>zip</extensions>
		</fields>
		<uq>0</uq>
	</widget>
	<widget>
		<type>dynamiclist</type>
		<name>carousel</name>
		<label>карусель</label>
		<fields>
			<datatype>image</datatype>
			<name>img</name>
			<label>Фотография</label>
			<maxSize>15360000</maxSize>
			<stretch>1</stretch>
			<extensions>png</extensions>
			<extensions>jpeg</extensions>
			<extensions>jpg</extensions>
			<extensions>gif</extensions>
			<extensions>svg</extensions>
		</fields>
		<fields>
			<datatype>text</datatype>
			<name>link</name>
			<label>ссылка</label>
		</fields>
		<uq>1</uq>
	</widget>
	<widget>
		<type>menu</type>
		<name>bigmenu</name>
		<label>Большое меню</label>
		<uq>1</uq>
	</widget>
</root>
